<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!-- Continue going here -->
    <!--配置对象别名-->
    <typeAliases>
        <typeAlias alias="TUser" type="per.martin.aviation.entity.TUser" />
        <typeAlias alias="UserRoleRes" type="per.martin.aviation.vo.UserRoleRes" />
        <typeAlias alias="TRole" type="per.martin.aviation.entity.TRole" />
        <typeAlias alias="AircraftType" type="per.martin.aviation.aircraft.entity.AircraftType" />
        <typeAlias alias="Airport" type="per.martin.aviation.airport.entity.Airport" />
        <typeAlias alias="AirCompany" type="per.martin.aviation.aircompany.entity.AirCompany" />
        <typeAlias alias="SysLog" type="per.martin.aviation.logger.entity.SysLog" />
        <typeAlias alias="SysUser" type="per.martin.aviation.user.entity.SysUser" />
        <typeAlias alias="SysUserEvent" type="per.martin.aviation.calendar.entity.SysUserEvent" />
        <typeAlias alias="SysUserEventLabel" type="per.martin.aviation.calendar.entity.SysUserEventLabel" />
    </typeAliases>
</configuration>